*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}

body{
    background-color: #FFFFFF;
    font-family: "Poppins", serif;

}

ul{
    text-decoration: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.lg-container{
    max-width: 1200px;
}

/* Header Nav Menu */

nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2.3rem 0;
}

nav img{
    width: 114px;
    height: 33px;
    
}

.nav-menu ul li a{
    font-family: "Noto Sans" sans-serif;
    color: black;
    font-weight: 400;
    font-size: 14px;
}

.signup a{
    border: 1px solid black;
    border-radius: 5px;
    padding: 11px 30px;
    font-weight: 400;
    font-size: 14px;
    
}

.lang select{
    border: none;
    font-weight: 100;
    font-size: 14px;
}

.lang label{
    font-weight: 400;
    font-size: 14px;
}





